# FUNCTION INTRODUCTION

When ever we have to create an function the main requirement is "def"+function name:

Functions are reusable and also increases the modularity of the code

In [1]:
###example

def test():                                                ### defining the function along with the name of function
    print("this is my first function")                     ### task that should be done by the function

In [2]:
test()     ### calling of the function

this is my first function

In [3]:
test() +"sudh"

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

as in test we used print, and print always returns nonetype objects

In [4]:
type(test())

this is my first function

NoneType

QUESTION: CREATING A FUNCTION THAT RETURN STRING DATATYPE AND PERFORM DIFFERENT OPERATIONS

In [5]:
def test1():
    return "this is my first fun"

In [6]:
test1()

'this is my first fun'

In [7]:
test1()  + "dfghj"

'this is my first fundfghj'

In [8]:
### Return always give the output as datatype of same nature.

In [9]:
def test2():

SyntaxError: unexpected EOF while parsing (<ipython-input-9-545a27f48ec1>, line 1)

always in function we have to write some kind of conditions or statements

In [10]:
def test3():
    return 1,23,34,[1,2,3,4,5,6,6]

In [11]:
test3()

(1, 23, 34, [1, 2, 3, 4, 5, 6, 6])

In [15]:
type(test3())

tuple

In [16]:
### declaring varaiable 

a= test3()

In [17]:
a

(1, 23, 34, [1, 2, 3, 4, 5, 6, 6])

In [18]:
a,b,c,d = test3()

In [19]:
a

1

In [20]:
b

23

In [21]:
c

34

In [22]:
d

[1, 2, 3, 4, 5, 6, 6]

In [23]:
def test4():
    a=4*5
    b=6+4
    return a, b

In [24]:
g=test4()

In [25]:
g

(20, 10)

In [26]:
j,k = test4()

In [27]:
j

20

In [28]:
k

10

In [29]:
test3()

(1, 23, 34, [1, 2, 3, 4, 5, 6, 6])

In [30]:
### in test3() function when we want to extract only list, then we have to use  the help of place holders "_"

In [31]:
_,_,_,g = test3()

In [32]:
g

[1, 2, 3, 4, 5, 6, 6]

In [33]:
 def test5():
        a=1
        b=10
        while a <=b:
            print(a)
            a=a+2

In [34]:
test5()

1
3
5
7
9

In [35]:
test5()

1
3
5
7
9

In [36]:
### from the above example we can say that the function is been reused again and agin0

When the user want to pass the values during function call

In [1]:
def test5(a,b):
    while a<=b:
        print(a)       ### print always return nonetype data
        a=a+2
    else:
        print("prinr this else block")

In [2]:
test5(4,6)

4
6
prinr this else block

In [4]:
test5(1,0)

prinr this else block

When we want to get primitive datatype:

In [6]:
def test5(a,b):
    while a<=b:
        return a
        a=a+2
    else:
        return "print this block"

In [7]:
test5(1,10)

1

In [8]:
### in this case we are getting only one value as output .... this is what return does it gives only one value as output if the condition is satisfied

If we are looking to get all the data using return:

In [9]:
def test5(a,b):
    l=[]
    while a<=b:
        l.append(a)
        a=a+2
    else:
        print("print this else block")
    return l

In [10]:
test5(9,46)

print this else block

[9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45]

In [11]:
l=[4,5,6,7,7,7,543,2,422,42,2432,[1,2,3,4,5,6],"sudh"]

QUESTION : WRITE A FUNCTION WHICH CAN FILTER OUT INTERGER FROM ANY LIST

In [16]:
def test1(a):
    if type(a) == list:
        l1=[]
        for i in a:
            if type(i) == int:
                l1.append(i)
    return l1

In [17]:
test1(l)

[4, 5, 6, 7, 7, 7, 543, 2, 422, 42, 2432]

In [18]:
l3=[1,2,3,4,4,(1,2,32,3,4),"dfghj"]

In [19]:
test1(l3)

[1, 2, 3, 4, 4]

In [4]:
def test(a,b):        ### function take a & b as inputs
    return a+b

In [6]:
test() ### here we need to pass 2 arguments

TypeError: test() missing 2 required positional arguments: 'a' and 'b'

In [7]:
test("vikas","paridi")

'vikasparidi'

In [8]:
test(a=9,b=8)

17

In [12]:
test(b=5,a=4)

9

In [13]:
### If not specifying the order it will consider 1st element as value of a and second one as b

In [15]:
test("vdfg",7)  ###different datatypes cannot be concatenated

TypeError: can only concatenate str (not "int") to str


Creating of doc string that shows the user about the information regarding function


and also this helps in giving the instructions of the function

write about the function in triple quotes and shift+tab gives us the information about the function

In [16]:
def test(a,b):
    ''' this is my function for concatination or addition'''
    return a+b

In [18]:
test(2,4) ###Docstring: this is my function for concatination or addition

6

In [21]:
def test1(a,b,c,d,e):  ### 5 variables are defined
     return a,b,c,d,e

In [22]:
test1(3,4,5,6)

TypeError: test1() missing 1 required positional argument: 'e'

# FUNCTION TO PASS MULTIPLE PARAMETER AT ANY POINT OF TIME

In [24]:
def test(*a):### single star of a takes multiple arguments 
    return a

In [25]:
test(1,23,45432,42)

(1, 23, 45432, 42)

In [27]:
test(1,2,3,4,5,6,67,7,[123,3542,"dfghj"])   ### any number of parameters we can pass it will return that many parameters

(1, 2, 3, 4, 5, 6, 67, 7, [123, 3542, 'dfghj'])

RETURNING OF ARGUMENTS AS LIST THAT ARE PASSED

In [34]:
def test2(*a):
    l=[]
    for i in a:
        l.append(i)
    return l

In [35]:
test2(2,3,4,5)

[2, 3, 4, 5]

In [36]:
def test3(*a):
    return list(a)

In [37]:
test3(1,2,3,5,5)

[1, 2, 3, 5, 5]

In [38]:
test3(1,2,3,4,5,6,6,[1,3,4,5,"sdfg"])

[1, 2, 3, 4, 5, 6, 6, [1, 3, 4, 5, 'sdfg']]

In [40]:
def test4(a,b,c,d,*m):
    return a,b,c,d,m

In [41]:
test4(3,4,5,6,7,8,9,1,2,4,67,8,9)

(3, 4, 5, 6, (7, 8, 9, 1, 2, 4, 67, 8, 9))

In [42]:
def test7(*m,a,b,c,d,e):
    return m,a,b,c,d,e

In [44]:
test7(3,4,5,6,7,23,3,4,234,234,234,56)   ###here it is considering all of the parametres to m

TypeError: test7() missing 5 required keyword-only arguments: 'a', 'b', 'c', 'd', and 'e'

GIVING THE NAMED ASSIGNMENTS THE ABOVE EXAMPLE

In [45]:
def test7(*m,a,b,c,d):
    return m,a,b,c,d

In [46]:
test7(4,5,6,7,2,3,5,a=9,b=91,c=70,d=64)

((4, 5, 6, 7, 2, 3, 5), 9, 91, 70, 64)

SOME OTHER SITUATIONS

PASSING OF DATA SET AS DICTIONARY:

In [48]:
def test8(**kwargs):    ### in double star we have to pass dictionary type object
    return kwargs

In [49]:
test8(a=1,b=4,v=5,c=8)

{'a': 1, 'b': 4, 'v': 5, 'c': 8}

In [50]:
d={'a': 1, 'b': 4, 'v': 5, 'c': 8}

In [53]:
test8(d)

TypeError: test8() takes 0 positional arguments but 1 was given

USING OF SINGLE AND DOUBLE STAR AT ONCE

In [54]:
def test9(*m,**s):
    return m,s

In [55]:
test9(1,2,3,4,56,78,9,76543,a=90,b=68,c=80)

((1, 2, 3, 4, 56, 78, 9, 76543), {'a': 90, 'b': 68, 'c': 80})

# POINTS TO BE REMEMBERED

USING OF SINGLE STAR(*VARABLE_NAME) GIVES US THE OUTPUT IN THE FORM OF TUPLE.

USING OF DOUBLE STAR (**VARIABLE_NAME) GIVES US THE OUTPUT AS DICT., ALSO INPUT SHOULD BE IN THE FORM OF KEY AND VALUE PAIR

example:
    
    
    create a function that takes multiple inputs and gives the summation of all the integers in the input

In [60]:
def sum_int(*m):    ### here the input of data is in the form of tuple
    sum = 0
    for i in m:
        if type(i) == int:
            sum = sum+i
    return sum

In [61]:
sum_int(1,2,3)

6

In [62]:
sum_int(9,10,11)

30

create a function that takes multiple inputs and gives the value after multiplication  of all the integers in the input

In [70]:
def int_mul(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
    return n

In [71]:
int_mul(1,2,3)

6

In [72]:
int_mul(1,2,3,4,5,6,7,8)

40320

# Creation of ANONYMUS OR LAMBDA FUNCTION

In [73]:
### lambda is a reserved key word

It is also called as in-line function

In [75]:
n= lambda a,b : a+b

In [76]:
n(4,5)

9

LAMBDA FUNCTION HAS NO NAME 

JUST A VARIABLE IS ASSIGNED 

THE LAMBDA FUNCTION THAT IS WRITTEN IN SINGLE LINE EQUAL TO THE FUNCTION WRITTEN IN MULTIPLE LINES

ON ONE SIDE OF COLON PASSING OF VARIABLES IS DONE AND ON THE OTHER SIDE OPERATIONS ARE PERFORMED

WE CAN CALL LAMBDA FUNCTION AS MANY TIMES AS POSSIBLE

In [77]:
b= lambda *vik : vik

In [78]:
b(4,5,6,7)

(4, 5, 6, 7)

In [84]:
t=(3,4,5,3,4,5,3,4,5,5,6,6)
l=[]
for i in t:
    l.append(i)

In [85]:
l

[3, 4, 5, 3, 4, 5, 3, 4, 5, 5, 6, 6]

WRITING OF ABOVE PROGRAM IN A SINGLE LINE.

# LIST COMPREHENSION OPERATION

In [86]:
[i for i in t]

[3, 4, 5, 3, 4, 5, 3, 4, 5, 5, 6, 6]

In [87]:
s="vikas" ### convert this entire string into a list 
[i for i in s]

['v', 'i', 'k', 'a', 's']

example:

       square of every number upto ten

In [88]:
[i*i for i in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [89]:
l=lambda *x : [i for i in x]

In [90]:
l(1,2,3,4,6,4,5,5)

[1, 2, 3, 4, 6, 4, 5, 5]

In [91]:
l=lambda *x:[ i*i for i in x]

In [92]:
l(1,2,3,4,5,4,4,5)

[1, 4, 9, 16, 25, 16, 16, 25]

EXAMPLE : 
    
    FUNCTION TO GET NUMBER OF STRINGS VALUES ARE BEEN PASSED INTO THE FUNCTION

In [98]:
def test14(**kwargs):
    s=0
    for i in kwargs.values():
        if type(i) == str :
            s=s+1
    return s

In [99]:
test14(a='sdfghj',b=123,c='dfghj')

2

In [100]:
test14(a=89,b=90,v=12)

0

In [101]:
test14(a='fghjk',m='fghjk',n='yuiop')

3

EXAMPLE:
    
    FUNCTION TO GET LIST OF ALL INPUT VALUE PARAMETERS

In [102]:
def all_list(**v):
    return list(v.values())

In [103]:
all_list(a=2,b=9,c=89,n="vhjk",m="hello",f=[1,2,3,4,5])

[2, 9, 89, 'vhjk', 'hello', [1, 2, 3, 4, 5]]