
# list

In [1]:
l=[1,2,3,4,"sudh",45.67,True]

In [2]:
 l[0]

1

In [3]:
l[-1]

True

In [4]:
l[::-1]

[True, 45.67, 'sudh', 4, 3, 2, 1]

In [5]:
len(l)

7

In [6]:
l[0:5]

[1, 2, 3, 4, 'sudh']

In [7]:
l[0:80:2]

[1, 3, 'sudh', True]

In [8]:
l[0:100:1]

[1, 2, 3, 4, 'sudh', 45.67, True]

In [9]:
l[0:8:-1]

[]

In [10]:
l[:3]

[1, 2, 3]

In [11]:
l+"sudh"

TypeError: can only concatenate list (not "str") to list

In [12]:
l+["sudh"]

[1, 2, 3, 4, 'sudh', 45.67, True, 'sudh']

In [13]:
60 in l

False

In [14]:
2 in l

True

In [15]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [16]:
l1=[1,2,3,4,5]

In [17]:
max(l1)

5

In [18]:
l=["viakas","guji",'huijl']

In [19]:
max(l)

'viakas'

In [20]:
l.append("kumar")

In [21]:
1

1

In [22]:
l

['viakas', 'guji', 'huijl', 'kumar']

In [23]:
l.append([1,2,3,4,5,6])

In [24]:
l

['viakas', 'guji', 'huijl', 'kumar', [1, 2, 3, 4, 5, 6]]

In [25]:
l.append("1234")

In [26]:
l

['viakas', 'guji', 'huijl', 'kumar', [1, 2, 3, 4, 5, 6], '1234']

In [27]:
l.append(123)

In [28]:
l

['viakas', 'guji', 'huijl', 'kumar', [1, 2, 3, 4, 5, 6], '1234', 123]

In [29]:
l.pop(0)

'viakas'

In [30]:
l

['guji', 'huijl', 'kumar', [1, 2, 3, 4, 5, 6], '1234', 123]

In [31]:
l.pop()

123

In [32]:
l

['guji', 'huijl', 'kumar', [1, 2, 3, 4, 5, 6], '1234']

In [33]:
l.reverse()

In [34]:
l

['1234', [1, 2, 3, 4, 5, 6], 'kumar', 'huijl', 'guji']

In [36]:
l[::-1]

['guji', 'huijl', 'kumar', [1, 2, 3, 4, 5, 6], '1234']

In [37]:
l.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [38]:
l1

[1, 2, 3, 4, 5]

In [39]:
l1.sort()

In [40]:
l1

[1, 2, 3, 4, 5]

In [41]:
l3=[8,9,54,53,23,1,0]

In [42]:
l3.sort()

In [43]:
l3

[0, 1, 8, 9, 23, 53, 54]

In [44]:
l3.sort(reverse = True)

In [45]:
l3

[54, 53, 23, 9, 8, 1, 0]

In [47]:
l1=[2,3,4]
l2=[6,7,8]
l3=[3,2,4]

###

In [48]:
l4=[l1,l2,l3]

In [49]:
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

exractinhg 2 from list3 (l3)

In [52]:
l4[2][1]

2

In [53]:
l

['1234', [1, 2, 3, 4, 5, 6], 'kumar', 'huijl', 'guji']

In [54]:
l.count(2)

0

In [55]:
l5=[2,3,4,3,3,3,3]

In [56]:
l5.count(3)

5

In [57]:
l

['1234', [1, 2, 3, 4, 5, 6], 'kumar', 'huijl', 'guji']

In [58]:
l.append("ineuron")

In [59]:
l

['1234', [1, 2, 3, 4, 5, 6], 'kumar', 'huijl', 'guji', 'ineuron']

In [60]:
l.append([4,5,6,"sudh"])

In [61]:
l

['1234',
 [1, 2, 3, 4, 5, 6],
 'kumar',
 'huijl',
 'guji',
 'ineuron',
 [4, 5, 6, 'sudh']]

In [62]:
l.extend("sudh")

In [63]:
l

['1234',
 [1, 2, 3, 4, 5, 6],
 'kumar',
 'huijl',
 'guji',
 'ineuron',
 [4, 5, 6, 'sudh'],
 's',
 'u',
 'd',
 'h']

In [64]:
l6=[1,2,3]

In [65]:
l6.append([4,5,6])

In [66]:
l6

[1, 2, 3, [4, 5, 6]]

In [67]:
l6.append("sudh")

In [68]:
l6

[1, 2, 3, [4, 5, 6], 'sudh']

In [69]:
l6.extend(45)

TypeError: 'int' object is not iterable

In [71]:
l6.append(45)

######

In [72]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45]

In [73]:
l6.extend([56,24,36])

In [74]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45, 56, 24, 36]

In [75]:
l6.extend("vik")

In [76]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 45, 56, 24, 36, 'v', 'i', 'k']

In [77]:
l6.index(1)

0

In [78]:
l7=[1,2,3,7,8,7,8,7,7,0]

In [79]:
l7.index(7)

3

In [80]:
l=[1,2,3,4]

In [81]:
l.append(45)

In [82]:
l.insert(1,[1,2,3,4])

In [83]:
l

[1, [1, 2, 3, 4], 2, 3, 4, 45]

In [84]:
l.pop()

45

In [85]:
l.pop(2)

2

In [86]:
l

[1, [1, 2, 3, 4], 3, 4]

In [87]:
l.remove(90)

ValueError: list.remove(x): x not in list

In [88]:
l.remove(1)

In [89]:
l

[[1, 2, 3, 4], 3, 4]

In [90]:
l=[1,2,3,4]

In [91]:
l[2]

3

item reassignment operation

In [92]:
l[2]="sudh"

In [93]:
l

[1, 2, 'sudh', 4]

In [95]:
s='ineuron'

In [96]:
s[2]

'e'

In [98]:
s[2]='z'

TypeError: 'str' object does not support item assignment

# Tuple

In [99]:
t=()

In [100]:
t=(4,5,67,"sudh",True)

In [101]:
type(t)

tuple

Follow exact same rule in tuple just like lists and strings in extraction of data 
Same slicing and indexing operations

In [102]:
t[0]

4

In [103]:
t[0:4]

(4, 5, 67, 'sudh')

In [104]:
t[-1]

True

In [105]:
t

(4, 5, 67, 'sudh', True)

In [106]:
t[::-1]

(True, 'sudh', 67, 5, 4)

In [107]:
t[9]

IndexError: tuple index out of range

In [108]:
t[-9]

IndexError: tuple index out of range

In [109]:
t[-1:-100]

()

In [110]:
t[0]="string"

TypeError: 'tuple' object does not support item assignment

In [112]:
t.index(1)

4

In [113]:
t.count(1)

1

In [114]:
t.count(34)

0

In [115]:
t1=(1,2,3,4,5,5)

In [116]:
t+t1

(4, 5, 67, 'sudh', True, 1, 2, 3, 4, 5, 5)

In [117]:
t*2

(4, 5, 67, 'sudh', True, 4, 5, 67, 'sudh', True)

In [118]:
t=(3,4,5,"sudh")

In [120]:
t2=list(t)

##

In [121]:
t2

[3, 4, 5, 'sudh']

In [122]:
tuple(t2)

(3, 4, 5, 'sudh')

# Dictionary

In [123]:
d={}

In [124]:
type(d)

dict

In [125]:
d1={1}

In [126]:
type(d1)

set

In [127]:
d2={'key1' : "value", 234 :"xyz","name" : "vikas","no":123456}

In [129]:
type(d2)

dict

In [130]:
d2['name']

'vikas'

In [132]:
d2['no']

123456

In [140]:
d3={'name':"sudh", 'tech':["python","ML","DP","NLP","cv"]}

In [141]:
d3

{'name': 'sudh', 'tech': ['python', 'ML', 'DP', 'NLP', 'cv']}

In [142]:
d3['tech']

['python', 'ML', 'DP', 'NLP', 'cv']

In [143]:
"python" in  d3['tech']

True

In [144]:
d4={"name":"ineuron","contact_info":3453,"name":"sudh"}

In [145]:
d4

{'name': 'sudh', 'contact_info': 3453}

In dict keys should be unique

if this is is not unique it gives the new value provided

In [146]:
d4['name1']="xyz"

In [147]:
d4

{'name': 'sudh', 'contact_info': 3453, 'name1': 'xyz'}

In [148]:
d4['k4'] = d2

In [149]:
d4

{'name': 'sudh',
 'contact_info': 3453,
 'name1': 'xyz',
 'k4': {'key1': 'value', 234: 'xyz', 'name': 'vikas', 'no': 123456}}

In [151]:
d4['k4']

{'key1': 'value', 234: 'xyz', 'name': 'vikas', 'no': 123456}

In [152]:
d4['k4']['no']

123456

In [153]:
d5={@:"sdfds"}

SyntaxError: invalid syntax (<ipython-input-153-d79c91b6856c>, line 1)

@,# not allowed as key

list is not allowed as key

keys should be immutable

In [154]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'vikas', 'no': 123456}

In [155]:
d2+d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [156]:
d2.keys()

dict_keys(['key1', 234, 'name', 'no'])

In [157]:
d3.values()

dict_values(['sudh', ['python', 'ML', 'DP', 'NLP', 'cv']])

In [158]:
d2.items()

dict_items([('key1', 'value'), (234, 'xyz'), ('name', 'vikas'), ('no', 123456)])

In [159]:
type(d2.items())

dict_items

# Set

In [162]:
s={3,4,5,67,8}

In [163]:
type(s)

set

In [164]:
s={1,2,2,3,4,4,4,5,6,66,6,77,77,77,67}

In [165]:
s

{1, 2, 3, 4, 5, 6, 66, 67, 77}

sets keep unique entitiy

In [166]:
s2={12,13,2,3,0,1,0}

In [167]:
s2

{0, 1, 2, 3, 12, 13}

In [168]:
s3={"sudh",324,33,44,55,"b"}

In [169]:
s3

{324, 33, 44, 55, 'b', 'sudh'}

In [170]:
s3[0]

TypeError: 'set' object is not subscriptable

set doesnt give the  index values.

All operations in list,tuple,dic cannot be performed in set.

We can do them by converting set into different type

In [171]:
s2.add(34)

In [172]:
s2

{0, 1, 2, 3, 12, 13, 34}

In [173]:
s2.add([1,2,3,4])

TypeError: unhashable type: 'list'

In [174]:
s={(1,2,3,4,5),3,4,5,5}

In [175]:
s

{(1, 2, 3, 4, 5), 3, 4, 5}

In [176]:
l=[1,2,3,[1,2,3,"vikas"],"ceio",3+5j,[1,2,3,4,5,6]]

In [177]:
l

[1, 2, 3, [1, 2, 3, 'vikas'], 'ceio', (3+5j), [1, 2, 3, 4, 5, 6]]

In [183]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 'vikas']
[1, 2, 3, 4, 5, 6]

In [184]:
l[4]={'key1':'value1','key2':'value2'}

In [185]:
l

[1,
 2,
 3,
 [1, 2, 3, 'vikas'],
 {'key1': 'value1', 'key2': 'value2'},
 (3+5j),
 [1, 2, 3, 4, 5, 6]]

In [187]:
for i in l:
    if type(i) == dict:
        print(i.keys())

dict_keys(['key1', 'key2'])

In [188]:
for i in l:
    if type(i) == dict:
        print(i.values())

dict_values(['value1', 'value2'])