# LOOPS CONCEPT :

In [225]:
l=[[1,2,3,45,6],(1,2,3,4,5,6),(3,4,5,6,6,7),set([1,2,3,3,4,5,5,6,6,6]),{"k1": "sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","ds"]]

###considering the above list and performing different permutation n combinations from the list.

Q1. EXTRACT ALL THE LIST ENTITIES FROM THE ABOVE LIST

In [226]:
l1=[]                              ### creating a blank list
for i in l:                        ### using of for loop to access every element of the list l
    if type(i) == list:            ### checking of condition to which datatype the index belongs to
        for j in i:                ### accessing of evevry entitiy inside of the datatype(list)
            print(j)               ### printing of each and every entitiy inside the index 
            l1.append(j)           ### storing of every entities inside the list
print(l1)                          ### printing of the new list

1
2
3
45
6
ineuron
ds
[1, 2, 3, 45, 6, 'ineuron', 'ds']

Q2: EXTRACT ALL THE DICTIONARY ENTITIES FROM THE LIST 'L' AND CREATE A SEPERATE LIST?

In [227]:
l2=[]                                ### creating of balnk list l2                                 
for i in l:                          ### using of for loop to access every element of the list l
    if type(i) == dict:              ### checking of condition to which datatype the index belongs to 
        for j in i.items():          ### accessing of the dictionary elements(key & value pair)
            print(j)                 ### printing of the key and value pair(these will be in the form of tuple) 
            l2.append(j)             ### storing of all key and value pair inside the list(tuples inside a list)
print(l2)                            ### printing of the new list.

('k1', 'sudh')
('k2', 'ineuron')
('k3', 'kumar')
(3, 6)
(7, 8)
[('k1', 'sudh'), ('k2', 'ineuron'), ('k3', 'kumar'), (3, 6), (7, 8)]

Q3: EXTRACT ALL THE TUPLE ENTITIES FROM THE LIST L ?

In [228]:
for i in l:                        ### using of for loop to access every element of the list l
    if type(i) == tuple:           ### checking of the condition to which datatype the index belongs to
        print(i)                   ### printing of the entire tuple present at the index
        for j in i:                ### accessing of every element inside the tuple
            print(j)               ### printing of every entity inside the tuple

(1, 2, 3, 4, 5, 6)
1
2
3
4
5
6
(3, 4, 5, 6, 6, 7)
3
4
5
6
6
7

Q3: EXTRACT ALL THE NUMERICAL PART OF KEY AND VALUE OF DICTIONARY ,FROM THE LIST L?

In [229]:

for i in l:                               ### using of for loop to access every element of the list
    if type(i) == dict:                   ### checking of the condition to which datatype the index belongs to
        for key,value in i.items():       ### accessing of key and values inside the dictionary
            if type(key) == int:    
                print(key)               ### determing whether the type of key and values are integers and if they are of int datatype.
            if type(value)  == int:      ###  print the keys ansd values 
                print(value)

3
6
7
8

Q4: FIND THE SUM OF ALL NUMERIC DATA IN THE LIST L?

In [230]:
sum = 0                                ### intializing the sum as 
for i in l:                            ### accessing of every element of the index
    for j in i:                        ### accessing of elements inside the index
        if type(j) == int:             ### checking the type of index entity as int and if condition satisfies,
            sum = sum+j                ### as intial sum =0, for every value of j sum gets changes and new sum is found
print(sum)                             ### printing of the total sum

140

Q5: FIND OUT THE ALL ODD VALUES OF THE LIST DATATYPE AND STORE THEM IN NEW LIST? CONSIDER THE LIST 'l' AND PERFORM

In [231]:
l

[[1, 2, 3, 45, 6],
 (1, 2, 3, 4, 5, 6),
 (3, 4, 5, 6, 6, 7),
 {1, 2, 3, 4, 5, 6},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'ds']]

In [232]:
l4=[]                                 ### creating of the blank list l4
for i in l:                           ### accessing of every element at the indexes
    if type(i) == list:               ### checking whether the type of index is list or not 
        for j in i:                   ### if the index is list, then accessing of elements inside the list
            if type(j) == int:        ### cheking the type of element, whether int kind of datatype
                if j%2 !=0:           ### condition to get the odd number, when we divide with 2 remainder should not be 0
                    l4.append(j)      ### storing of odd values 
print(l4)

[1, 3, 45]

Q6: TRY TO EXTRACT ONLY INEURON FROM THE LIST L?

In [233]:
for i in l:                                     ###accessing every element of list at the indexes
    if type(i) == str or list or tuple or set:  ### checking the datatype of index as list,set,string or tuple
        for j in i:                             ### running of loop over the indexes of datatypes
            if j == 'ineuron':                  ###checking whether the element is 'ineuron'
                print(j)                        ### if the element at particular index is ineuron print it
                
    if type(i) == dict:                         ###checking dictionanry datatype present at the index
        for k,v in i.items():                   ### accessing of key and values inside the dictionary
            if k =="ineuron":
                print(k)
            if v =="ineuron":                   ###creating if statement to find ineuron is present in the keys and values
                print(v)
                                                ###print ineuron if it is been present in the key, or in the value

ineuron
ineuron

Q7: TRY TO FIND OUT NUMBER OF OCCURENCES OF DATA IN THE LIST'l'?

In [234]:
l

[[1, 2, 3, 45, 6],
 (1, 2, 3, 4, 5, 6),
 (3, 4, 5, 6, 6, 7),
 {1, 2, 3, 4, 5, 6},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'ds']]

In [235]:
type(l)

list

In [236]:
count = {}
for i in l:
    for j in i:
        if j in count.keys():
            a = count.get(j)+1
            count[j] = a
        else:
            count[j] = 1

In [237]:
count

{1: 3,
 2: 3,
 3: 5,
 45: 1,
 6: 5,
 4: 3,
 5: 3,
 7: 2,
 'k1': 1,
 'k2': 1,
 'k3': 1,
 'ineuron': 1,
 'ds': 1}

Q7.FIND OUT NUMBER OF KEYS IN THE DICTIONARY THAT IS PRESENT INSIDE THE LIST'l'?

In [238]:
l

[[1, 2, 3, 45, 6],
 (1, 2, 3, 4, 5, 6),
 (3, 4, 5, 6, 6, 7),
 {1, 2, 3, 4, 5, 6},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'ds']]

In [239]:
for i in l:                            ### accessing of elements inside the list 'l'
    if type(i) == dict:                ### checking the type of index as dictionary
        print(len(i.keys()))           ### using len function finding out the number of keys in the dictionary

5

Q8 : FILTER OUT ALL THE STRING DATA IN THE LIST 'l' AND CREATE A SEPERATE LIST L2?

In [240]:
l

[[1, 2, 3, 45, 6],
 (1, 2, 3, 4, 5, 6),
 (3, 4, 5, 6, 6, 7),
 {1, 2, 3, 4, 5, 6},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'ds']]

In [241]:
l2=[]                                                 ### creating an empty list l2
for i in l:                                           ### accessing to the elements at the indexes
    for j in i:
        if type(j) == str:                            ###determing whether the index entity is string 
               l2.append(j)                           ### appending all the string type elements into list l2
print("OVER ALL STRING DATA IN THE GIVEN LIST IS" ,l2) ### printing out the new list

OVER ALL STRING DATA IN THE GIVEN LIST IS ['k1', 'k2', 'k3', 'ineuron', 'ds']

Q9: FIND OUT THE APHANUMERIC IN THE LIST "l"?

In [242]:
l

[[1, 2, 3, 45, 6],
 (1, 2, 3, 4, 5, 6),
 (3, 4, 5, 6, 6, 7),
 {1, 2, 3, 4, 5, 6},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'ds']]

In [243]:
l2=[]                                                 ### creating an empty list l2
for i in l:                                           ### accessing to the elements at the indexes
    for j in i:
        if type(j) == str:                            ###determing whether the index entity is string 
               l2.append(j)                           ### appending all the string type elements into list l2
print("OVER ALL STRING DATA IN THE GIVEN LIST IS" ,l2)### printing out the new list

### NOW FINDING OUT THE ALPHANUMERIC VALUES FROM THE LIST
for i in l2:
    if type(i) == str:
        print(i.isalnum())

OVER ALL STRING DATA IN THE GIVEN LIST IS ['k1', 'k2', 'k3', 'ineuron', 'ds']
True
True
True
True
True

Q10: FIND OUT THE MULTIPLICATION OF ALL THE NUMERICAL DATA INSIDE THE LIST"l"?

In [244]:
l

[[1, 2, 3, 45, 6],
 (1, 2, 3, 4, 5, 6),
 (3, 4, 5, 6, 6, 7),
 {1, 2, 3, 4, 5, 6},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'ds']]

In [245]:
m

266655836160000

In [246]:
q=[1,2,3,4,5,6]
s=1
for i in q:
    if type(i) == int:
        s=s*i

In [247]:
s

720

In [248]:
l

[[1, 2, 3, 45, 6],
 (1, 2, 3, 4, 5, 6),
 (3, 4, 5, 6, 6, 7),
 {1, 2, 3, 4, 5, 6},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'ds']]

In [251]:
l1=[]
for i in l:
    for j in i:
        l1.append(j)
print(l1)

[1, 2, 3, 45, 6, 1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 6, 7, 1, 2, 3, 4, 5, 6, 'k1', 'k2', 'k3', 3, 7, 'ineuron', 'ds']

QUESTION : PRINT THE FOLLOWING PATTERN

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [1]:
row=int(input("enter number of rows"))
for i in range(row):
    print("ineuron "*(i+1))

enter number of rows7
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron
ineuron ineuron ineuron ineuron ineuron ineuron ineuron

QUESTION: PRINT THE FOLLOWING PATTERN:
              
                ineuron  
            
            ineuron  ineuron
        
        ineuron ineuron ineuron 
        
           ineuron  ineuron
        
                ineuron

In [3]:
row =int(input("enter number of row"))
for i in range(row):
    if i<=3:
        n=i
    else:
        n=6-i
    print(("ineuron "*n).center(50," "))

enter number of row6

                     ineuron
                 ineuron ineuron
             ineuron ineuron ineuron
                 ineuron ineuron
                     ineuron