In [4]:
l=[1,2,3,4,"vikas","kumar",45.56]

In [5]:
for i in l:
    print(i)

1
2
3
4
vikas
kumar
45.56

In [6]:
for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == str:
        print(i)
    else:
        print(i)

1
2
3
4
vikas
kumar
45.56

In [7]:
for i in l:
    if type(i) == int:
    
        print(i + 2)

3
4
5
6

In [8]:
l1=[]
for i in l:
    if type(i) == int:
        l1.append(i)

In [9]:
l1

[1, 2, 3, 4]

In [10]:
for i in l:

SyntaxError: unexpected EOF while parsing (<ipython-input-10-b882057075b2>, line 2)

We have written for loop but nothing is been provided to loop

In [11]:
for i in l:
    pass

Here PASS is been used, it can be possible not to pass any data

In [12]:
s="sudh"
for i in s:
    print(i)

s
u
d
h

In [13]:
for i in l:
    print(i)
else:
    print("If for loop is going to complete this will execute")

1
2
3
4
vikas
kumar
45.56
If for loop is going to complete this will execute

For and Else is available in python only

In [14]:
l

[1, 2, 3, 4, 'vikas', 'kumar', 45.56]

In [17]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print("thiskoj")

1
2
3

else will execute only in one case that is when the for loop will exhaust itself.

in 2nd example we are breaking the loop so else is not occured

break will break the entire loop.

In [18]:
s="sudhanshu"
for i in s:
    if i == "n":
        break
    print(i)
else:
    print("print string",s)

s
u
d
h
a

In [19]:
s="sudhanshu"
for i in s:
    if i == "p":
        break
    print(i)
else:
    print("print string",s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [20]:
t=(4,5,6,7,8,6,"vikas")

In [21]:
for i in t:
    print(i)

4
5
6
7
8
6
vikas

In [26]:
s={1,2,3,3,4,5,6,6,"sudh"}

In [27]:
for i in s:
    print(i)

1
2
3
4
5
6
sudh

In [28]:
d={"k1":"hii","k2":567,"k3":"gjhhg"}

In [29]:
for i in d:
    print(i)

k1
k2
k3

In [30]:
for i in d:
    print(d[i])

hii
567
gjhhg

In [32]:
d['k1']

'hii'

In [33]:
d['k2']

567

In [35]:
for i in d:
    print(i,":" ,d[i])

k1 : hii
k2 : 567
k3 : gjhhg

In [36]:
range(9)

range(0, 9)

going to give data start from 0 and exclude 9

In [37]:
range(89)

range(0, 89)

In [39]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
set(range(9))

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
tuple(range(8))

(0, 1, 2, 3, 4, 5, 6, 7)

In [42]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [43]:
range(0,7)

range(0, 7)

In [44]:
list(range(0,4))

[0, 1, 2, 3]

here lower bound is the starting point and upper bound is end point

we can also mention the jump in the range

In [45]:
list(range(0,8,2))

[0, 2, 4, 6]

In [46]:
list(range(0,8,-2))

[]

In [47]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [49]:
n=4
for i in range(n):
    for j in range(0,i+1):
        print("*",end=" " )
    print("\n")

*

* *

* * *

* * * *

In [50]:
t=(3,23,45,67,2,4,5,6)

In [56]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

range always deals with the range

In [57]:
t=(1,2,3,4)
for i in t:
    print(i)

1
2
3
4

In [59]:
s="ineuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [60]:
s

'ineuron'

In [63]:
for i in range(len(s[::-1])):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [64]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [74]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [75]:
d

{'k1': 'hii', 'k2': 567, 'k3': 'gjhhg'}

In [76]:
for i in d:
    print(i,d[i])

k1 hii
k2 567
k3 gjhhg

In [84]:
d.items()

dict_items([('k1', 'hii'), ('k2', 567), ('k3', 'gjhhg')])

In [85]:
for i in d.items():
    print(i)

('k1', 'hii')
('k2', 567)
('k3', 'gjhhg')

PRINTING OU THE TUPLES FROM THE DICT:
    
    Each key value pair acts like a tuple here:

In [86]:
for i in d.items():
    print(i,type(i))

('k1', 'hii') <class 'tuple'>
('k2', 567) <class 'tuple'>
('k3', 'gjhhg') <class 'tuple'>

FINDING THE TYPE OF VALUES WE HAVE IN DICT.

In [87]:
d

{'k1': 'hii', 'k2': 567, 'k3': 'gjhhg'}

In [88]:
for i in d.items():
    print(i,type(i[1]))

('k1', 'hii') <class 'str'>
('k2', 567) <class 'int'>
('k3', 'gjhhg') <class 'str'>

In [89]:
l=["sudh","kumar",234123,"sdfi@mail.com",23,345]

In [94]:
l1=[]
for i in l:
    if type(i) == int:
        l1.append(i)

print(l1)

[234123, 23, 345]

In [95]:
d={1:5678,"name":"sudh","mailid":"fgujk@mail.com",234:"dhsH","57":"gfhhjj",234:"1123"}

Q: TAKE OUT THE ALL THE VALUES FROM THE NUMERIC KEYS\

In [102]:

for i in d.items():
    if type(i[0]) == int:
        print(i)

(1, 5678)
(234, '1123')

In [104]:
for i in d:
    if type(i) == int:
        print(i,":" ,d[i])

1 : 5678
234 : 1123

In [105]:
s="aaaaabbccdd"

Q: PRINT OUT THE COUNT OF EACH ELEMENT IN THE STRING

In [111]:
set(s)

{'a', 'b', 'c', 'd'}

In [112]:
for i in set(s):
    print(i,":",s.count(i))

a : 5
b : 2
d : 2
c : 2

In the above one we are first converted into the set to know how many elements are been present in the string later being using for loop to find out the count of the characters

In [1]:
i = 112345432123

FINDING THE NUMBER(COUNT) OF EACH INTEGER IN THE GIVEN VARIABLE

ALSO FINDING THE TYPE OF EACH INTEGER

In [12]:
v=str(i)
for j in set(v):
    print(j,":",v.count(j))

4 : 2
5 : 1
2 : 3
3 : 3
1 : 3

In [13]:
v=str(i)
for j in v:
    print(j,type(j))

1 <class 'str'>
1 <class 'str'>
2 <class 'str'>
3 <class 'str'>
4 <class 'str'>
5 <class 'str'>
4 <class 'str'>
3 <class 'str'>
2 <class 'str'>
1 <class 'str'>
2 <class 'str'>
3 <class 'str'>

in the above one the type is been read as string but when we have to get integer apply the following

In [14]:
v

'112345432123'

In [15]:
for j in v:
    print(int(j),type(int(j)))

1 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>

In [66]:
t=("sud3h","kumar3",[1,2,3,4],(3,34,4,5),{"k1":"sudh","k2":"kumar","k3":"Ku3",3:3})

In [67]:
t

('sud3h',
 'kumar3',
 [1, 2, 3, 4],
 (3, 34, 4, 5),
 {'k1': 'sudh', 'k2': 'kumar', 'k3': 'Ku3', 3: 3})

FROM THIS TUPLE EXRACT ONLY VALUE 3

In [78]:
final = []
for i in t:
    if type(i) == str:
        if '3' in i:
            final.append(i)
    if type(i) in [list,tuple]:
        for k in i:
            if 3 == k:
                final.append(k)
    if type(i) == dict:
        for key in i:
            if  key == 3:
                final.append(key)
        for val in i.values():
            if  val == 3:
                final.append(val)

In [79]:
final

['sud3h', 'kumar3', 3, 3, 3, 3]

In [80]:
for i in t:
    print(i)

sud3h
kumar3
[1, 2, 3, 4]
(3, 34, 4, 5)
{'k1': 'sudh', 'k2': 'kumar', 'k3': 'Ku3', 3: 3}

In [81]:
t

('sud3h',
 'kumar3',
 [1, 2, 3, 4],
 (3, 34, 4, 5),
 {'k1': 'sudh', 'k2': 'kumar', 'k3': 'Ku3', 3: 3})

In [83]:
for i in t:
    if type(i) == list or tuple :
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:54
        for k,v in i.items():
            if k ==3 or v == 3:
                print(k)
                print(v)

3
3
3
3
3

In [76]:
t

('sud3h',
 'kumar3',
 [1, 2, 3, 4],
 (3, 34, 4, 5),
 {'k1': 'sudh', 'k2': 'kumar', 'k3': 'Ku3', 3: 3})

In [84]:
a=10
b=90
c=89

In [85]:
a,b,c = 0,90,89

In [86]:
a,b,c =(10,20,30)

IN ABOVE CASES A,B,C ARE BEEN REPRESENTED IN DIFFERENT FORMS. HENCE A,B,C VARIABLES CAN ASSIGN IN DIFFERENT FORMS

q1. print 

    ineuron

    ineuron ineuron
    
    ineuron ineuron ineuron
    
    ineuron ineuron ineuron ineuron
q2. print
    
       *
     
    *     *
    
  *    *     *
    
    *     *
    
       *
            
q3. l=[[1,2,3,45,6],(1,2,3,4,5,6),(3,4,5,6,6,7),set([1,2,3,3,4,5,5,6,6,6]),{"k1": "sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","ds"]]

Try to exract all list entities

extrat all dict entitiies

extacr all tuple entities

extract all numerical data part of k and v of dic

try to give the summ of all numeric data

try to filter out all odd values of numeric data which is a part of list.

try to extract ineuron out of this data 

try to find out number of occurenaces of all data 

try to find out number of keys in dict

try to filter out all sting data

try to find out alpha numeric in data 

try to find out multiplication of all the numeric  collection inside data set 

try to unwrap all the collection and create a flat list