In [1]:
v="vikas"         ### always strings must  be kept inside the double or single quotes (" " or ' ')

In [2]:
type(v)          ### type is a reserved keyword that tells us what kind of data been present

str

In [3]:
v[0]             ### indexing of strings always start from 0 go till (length-1)

'v'

In [4]:
v[9]

IndexError: string index out of range

In [5]:
v[4]

's'

In [4]:
v[-1]      ### negative indexes always start from the last

's'

In [5]:
 a='this is my first programming languague'

In [6]:
type(a)

str

In [7]:
a[::-1]               ### reversing of entire string using indexing opeartion

'eugaugnal gnimmargorp tsrif ym si siht'

In [26]:
a

'this is my first programming languague'

In [27]:
a[3]

's'

In [28]:
a[5]

'i'

In [29]:
a[4]

' '

In [8]:
a[1:5]      ### here lower bound =1 and upper bound =5,
            ### here the uppper bound element is been excluded

'his '

In [9]:
 a[1:9]

'his is m'

In [32]:
a[3:7]

's is'

IN ALL THE ABOVE CASES IT IS CLEAR THAT WHEN WE WRE PERFORMING STRING SLICING OPERATION, LOWER BIUND ELEMENT IS BEEN CONSIDERED WHRE AS UPPER BOUND ELEMENT IS EXCLUDED

### [LOWER BOUND:UPPER BOUND:JUMP]
    - IN THIS WAY THE SLICING OPERATION IS BEEN REPRESENTED
    - BOTH FORWARD AND BACKWARD INDEXING OPERATIONS ARE POSSIBLE

In [12]:
a[4:30:2]     ### SLICING OPERATIONS ALONG WITH THE JUMP OF 2

' sm is rgamn '

In [13]:
a[4:30:1]    ### SLICING OPERATION WITH THE JUMP OF 1

' is my first programming l'

In [35]:
s="hello how are you"

In [36]:
s[2:10:2]

'lohw'

In [38]:
s[0:8:-1]

''

In [39]:
s[8:0:-1]

'woh olle'

In [41]:
s[:-3]

'hello how are '

In [42]:
s[-2:]

'ou'

In [43]:
a="vikas"

In [44]:
a[0:50:1]

'vikas'

In [45]:
a[::1]

'vikas'

In [46]:
a[::-1]

'sakiv'

In [17]:
s="sudhanshu"

In [48]:
s[9:0:-1]

'uhsnahdu'

In [49]:
s[90:0:-1]

'uhsnahdu'

In [50]:
s3="ineuron"

In [52]:
s3[::-1]

'norueni'

In [53]:
s3[-2:-7:1]

''

In [54]:
 s3[-7:-2:1]

'ineur'

In [18]:
s

'sudhanshu'

In [19]:
s+1     ### TWO DIFFERENT DATATYPES ARE BEEN ADDED WHICH IS NOT POSSIBLE

TypeError: can only concatenate str (not "int") to str

In [57]:
s+'1'        ### STRING ALONG WITH A STRING CAN BE CONCATENATED

'sudhanshu1'

In [58]:
s+str(1)

'sudhanshu1'

In [20]:
len(s)            ### LENGTH TELLS US HOW MANY ELEMENTS ARE PRESENT IN THE STRING

9

In [60]:
s*2

'sudhanshusudhanshu'

In [21]:
s.count('s')    ###Return the number of non-overlapping occurrences of substring

2

In [22]:
s.split( 'u')    ###Return a list of the words in the string, using sep as the delimiter string.

['s', 'dhansh', '']

In [23]:
a="A watch is a portable timepiece intended to be carried or worn by a person. It is designed to keep a consistent movement despite the motions caused by the person's activities. A wristwatch is designed to be worn around the wrist, attached by a watch strap or other type of bracelet, including metal bands, leather straps or any other kind of bracelet. A pocket watch is designed for a person to carry in a pocket, often attached to a chain."

In [24]:
a.split(' ')

['A',
 'watch',
 'is',
 'a',
 'portable',
 'timepiece',
 'intended',
 'to',
 'be',
 'carried',
 'or',
 'worn',
 'by',
 'a',
 'person.',
 'It',
 'is',
 'designed',
 'to',
 'keep',
 'a',
 'consistent',
 'movement',
 'despite',
 'the',
 'motions',
 'caused',
 'by',
 'the',
 "person's",
 'activities.',
 'A',
 'wristwatch',
 'is',
 'designed',
 'to',
 'be',
 'worn',
 'around',
 'the',
 'wrist,',
 'attached',
 'by',
 'a',
 'watch',
 'strap',
 'or',
 'other',
 'type',
 'of',
 'bracelet,',
 'including',
 'metal',
 'bands,',
 'leather',
 'straps',
 'or',
 'any',
 'other',
 'kind',
 'of',
 'bracelet.',
 'A',
 'pocket',
 'watch',
 'is',
 'designed',
 'for',
 'a',
 'person',
 'to',
 'carry',
 'in',
 'a',
 'pocket,',
 'often',
 'attached',
 'to',
 'a',
 'chain.']

In [66]:
len(a.split(' '))

80

In [1]:
v="Samsung Group,[3] or simply Samsung (Korean: 삼성 [samsʌŋ]), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

SyntaxError: EOL while scanning string literal (<ipython-input-1-cd51f26356a2>, line 1)

In [2]:
v=""" Samsung Group,[3] or simply Samsung (Korean: 삼성 [samsʌŋ]), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]

Samsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.

Notable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"""

In [3]:
v

" Samsung Group,[3] or simply Samsung (Korean: 삼성 [samsʌŋ]), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

In [4]:
v.split(" ")

['',
 'Samsung',
 'Group,[3]',
 'or',
 'simply',
 'Samsung',
 '(Korean:',
 '삼성',
 '[samsʌŋ]),',
 'is',
 'a',
 'South',
 'Korean',
 'multinational',
 'manufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 'As',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 'eighth',
 'highest',
 'global',
 'brand',
 'value.[4]\n\nSamsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 'food',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 'and',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'JoongAng',
 'Group.\n\nNotable',
 'Samsung',
 'industrial',
 'affiliates',
 'include',
 'Samsung',
 'Electronics',
 '(the',
 "world's",
 'largest',
 'information',
 'technology',
 'company,',
 'consumer',
 'electronics',
 'maker',
 'and',
 'chipmaker',
 'measured',
 'by',
 '2017',
 'revenues),[5][6]',
 'Samsung',
 'Heavy',
 'Industries',
 '(the',
 "world's",
 'second',
 'largest',
 'shipbuilder',
 'measured',
 'by',
 '2010',
 'revenues),[7]',
 'and',
 'Samsung',
 'Engineering',
 'and',
 'Samsung',
 'C&T',
 'Corporation',
 '(respectively',
 'the',
 "world's",
 '13th',
 'and',
 '36th',
 'largest',
 'construction',
 'companies).[8]',
 'Other',
 'notable',
 'subsidiaries',
 'include',
 'Samsung',
 'Life',
 'Insurance',
 '(the',
 "world's",
 '14th',
 'largest',
 'life',
 'insurance',
 'company),[9]',
 'Samsung',
 'Everland',
 '(operator',
 'of',
 'Everland',
 'Resort,',
 'the',
 'oldest',
 'theme',
 'park',
 'in',
 'South',
 'Korea)[10]',
 'and',
 'Cheil',
 'Worldwide',
 '(the',
 "world's",
 '15th',
 'largest',
 'advertising',
 'agency,',
 'as',
 'measured',
 'by',
 '2012',
 'revenues).[11][12]']

In [5]:
len(v.split(" "))

225

In [25]:
v.upper()     ### Return a copy of the string converted to uppercase.

'VIKAS'

In [26]:
v.lower()     ###Return a copy of the string converted to lowercase.

'vikas'

In [27]:
v.capitalize()  ###Return a capitalized version of the string.

'Vikas'

In [9]:
v

" Samsung Group,[3] or simply Samsung (Korean: 삼성 [samsʌŋ]), is a South Korean multinational manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). As of 2020, Samsung has the eighth highest global brand value.[4]\n\nSamsung was founded by Lee Byung-chul in 1938 as a trading company. Over the next three decades, the group diversified into areas including food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and JoongAng Group.\n\nNotable Samsung industrial affiliates include Samsung Electronics (the world's largest information technology company, consumer electronics maker and chipmaker measured by 2017 revenues),[5][6] Samsung Heavy Industries (the world's second largest shipbuilder measured by 2010 revenues),[7] and Samsung Engineering and Samsung C&T Corporation (respectively the world's 13th and 36th largest construction companies).[8] Other notable subsidiaries include Samsung Life Insurance (the world's 14th largest life insurance company),[9] Samsung Everland (operator of Everland Resort, the oldest theme park in South Korea)[10] and Cheil Worldwide (the world's 15th largest advertising agency, as measured by 2012 revenues).[11][12]"

In [10]:
v=v.upper()

In [11]:
v

" SAMSUNG GROUP,[3] OR SIMPLY SAMSUNG (KOREAN: 삼성 [SAMSɅŊ]), IS A SOUTH KOREAN MULTINATIONAL MANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). AS OF 2020, SAMSUNG HAS THE EIGHTH HIGHEST GLOBAL BRAND VALUE.[4]\n\nSAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY. OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING FOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S AND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS SEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP.\n\nNOTABLE SAMSUNG INDUSTRIAL AFFILIATES INCLUDE SAMSUNG ELECTRONICS (THE WORLD'S LARGEST INFORMATION TECHNOLOGY COMPANY, CONSUMER ELECTRONICS MAKER AND CHIPMAKER MEASURED BY 2017 REVENUES),[5][6] SAMSUNG HEAVY INDUSTRIES (THE WORLD'S SECOND LARGEST SHIPBUILDER MEASURED BY 2010 REVENUES),[7] AND SAMSUNG ENGINEERING AND SAMSUNG C&T CORPORATION (RESPECTIVELY THE WORLD'S 13TH AND 36TH LARGEST CONSTRUCTION COMPANIES).[8] OTHER NOTABLE SUBSIDIARIES INCLUDE SAMSUNG LIFE INSURANCE (THE WORLD'S 14TH LARGEST LIFE INSURANCE COMPANY),[9] SAMSUNG EVERLAND (OPERATOR OF EVERLAND RESORT, THE OLDEST THEME PARK IN SOUTH KOREA)[10] AND CHEIL WORLDWIDE (THE WORLD'S 15TH LARGEST ADVERTISING AGENCY, AS MEASURED BY 2012 REVENUES).[11][12]"

In [12]:
v="vikas"

In [13]:
v.title()

'Vikas'

In [14]:
v="vikas kumar"

In [17]:
v.capitalize()

'Vikas kumar'

In [18]:
v="Vikas KUmar"

In [19]:
v.swapcase()

'vIKAS kuMAR'

In [20]:
"a".join("vikas")

'vaiakaaas'

In [21]:
a="vikas"

In [22]:
'a'.join(a)

'vaiakaaas'

In [23]:
 a="vikas"

In [24]:
a.center(20, 'a')

'aaaaaaavikasaaaaaaaa'

In [25]:
a.center(30,'$')

'$$$$$$$$$$$$vikas$$$$$$$$$$$$$'

In [26]:
a="hello how are ypou"

In [27]:
a.center(40,'*')

'***********hello how are ypou***********'

In [29]:
'#'.join(a)

'h#e#l#l#o# #h#o#w# #a#r#e# #y#p#o#u'

In [30]:
v="Vikas"

In [31]:
v.isupper()

False

In [32]:
v.islower()

False

In [33]:
v.istitle()

True

In [36]:
v="vikas"

In [37]:
v.islower()

True

In [38]:
v.isalnum()

True

In [39]:
v.isdigit()

False

In [40]:
v.isnumeric()

False

In [41]:
v.isascii()

True

In [42]:
v.center(20,'@')

'@@@@@@@vikas@@@@@@@@'

In [43]:
a=" vikas "

In [44]:
a.center(30,'%')

'%%%%%%%%%%% vikas %%%%%%%%%%%%'

In [45]:
a="After Lee, the founder's death in 1987, Samsung Group was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group, Hansol Group and the JoongAng Group.[21] Shinsegae (discount store, department store) was originally part of Samsung Group, separated in the 1990s from the Samsung Group along with CJ Group (Food/Chemicals/Entertainment/logistics), Hansol Group (Paper/Telecom), and the JoongAng Group (Media). Today these separated groups are independent and they are not part of or connected to the Samsung Group.[22] One Hansol Group representative said"

In [46]:
a

"After Lee, the founder's death in 1987, Samsung Group was separated into five business groups – Samsung Group, Shinsegae Group, CJ Group, Hansol Group and the JoongAng Group.[21] Shinsegae (discount store, department store) was originally part of Samsung Group, separated in the 1990s from the Samsung Group along with CJ Group (Food/Chemicals/Entertainment/logistics), Hansol Group (Paper/Telecom), and the JoongAng Group (Media). Today these separated groups are independent and they are not part of or connected to the Samsung Group.[22] One Hansol Group representative said"

In [47]:
a.split(" ")

['After',
 'Lee,',
 'the',
 "founder's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'Group',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group,',
 'Hansol',
 'Group',
 'and',
 'the',
 'JoongAng',
 'Group.[21]',
 'Shinsegae',
 '(discount',
 'store,',
 'department',
 'store)',
 'was',
 'originally',
 'part',
 'of',
 'Samsung',
 'Group,',
 'separated',
 'in',
 'the',
 '1990s',
 'from',
 'the',
 'Samsung',
 'Group',
 'along',
 'with',
 'CJ',
 'Group',
 '(Food/Chemicals/Entertainment/logistics),',
 'Hansol',
 'Group',
 '(Paper/Telecom),',
 'and',
 'the',
 'JoongAng',
 'Group',
 '(Media).',
 'Today',
 'these',
 'separated',
 'groups',
 'are',
 'independent',
 'and',
 'they',
 'are',
 'not',
 'part',
 'of',
 'or',
 'connected',
 'to',
 'the',
 'Samsung',
 'Group.[22]',
 'One',
 'Hansol',
 'Group',
 'representative',
 'said']

In [48]:
v=a.split(" ")

In [49]:
str(v)

'[\'After\', \'Lee,\', \'the\', "founder\'s", \'death\', \'in\', \'1987,\', \'Samsung\', \'Group\', \'was\', \'separated\', \'into\', \'five\', \'business\', \'groups\', \'–\', \'Samsung\', \'Group,\', \'Shinsegae\', \'Group,\', \'CJ\', \'Group,\', \'Hansol\', \'Group\', \'and\', \'the\', \'JoongAng\', \'Group.[21]\', \'Shinsegae\', \'(discount\', \'store,\', \'department\', \'store)\', \'was\', \'originally\', \'part\', \'of\', \'Samsung\', \'Group,\', \'separated\', \'in\', \'the\', \'1990s\', \'from\', \'the\', \'Samsung\', \'Group\', \'along\', \'with\', \'CJ\', \'Group\', \'(Food/Chemicals/Entertainment/logistics),\', \'Hansol\', \'Group\', \'(Paper/Telecom),\', \'and\', \'the\', \'JoongAng\', \'Group\', \'(Media).\', \'Today\', \'these\', \'separated\', \'groups\', \'are\', \'independent\', \'and\', \'they\', \'are\', \'not\', \'part\', \'of\', \'or\', \'connected\', \'to\', \'the\', \'Samsung\', \'Group.[22]\', \'One\', \'Hansol\', \'Group\', \'representative\', \'said\']'

In [50]:
v

['After',
 'Lee,',
 'the',
 "founder's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'Group',
 'was',
 'separated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group,',
 'Hansol',
 'Group',
 'and',
 'the',
 'JoongAng',
 'Group.[21]',
 'Shinsegae',
 '(discount',
 'store,',
 'department',
 'store)',
 'was',
 'originally',
 'part',
 'of',
 'Samsung',
 'Group,',
 'separated',
 'in',
 'the',
 '1990s',
 'from',
 'the',
 'Samsung',
 'Group',
 'along',
 'with',
 'CJ',
 'Group',
 '(Food/Chemicals/Entertainment/logistics),',
 'Hansol',
 'Group',
 '(Paper/Telecom),',
 'and',
 'the',
 'JoongAng',
 'Group',
 '(Media).',
 'Today',
 'these',
 'separated',
 'groups',
 'are',
 'independent',
 'and',
 'they',
 'are',
 'not',
 'part',
 'of',
 'or',
 'connected',
 'to',
 'the',
 'Samsung',
 'Group.[22]',
 'One',
 'Hansol',
 'Group',
 'representative',
 'said']

In [51]:
c=str(v)

In [52]:
type(c)

str

In [53]:
c

'[\'After\', \'Lee,\', \'the\', "founder\'s", \'death\', \'in\', \'1987,\', \'Samsung\', \'Group\', \'was\', \'separated\', \'into\', \'five\', \'business\', \'groups\', \'–\', \'Samsung\', \'Group,\', \'Shinsegae\', \'Group,\', \'CJ\', \'Group,\', \'Hansol\', \'Group\', \'and\', \'the\', \'JoongAng\', \'Group.[21]\', \'Shinsegae\', \'(discount\', \'store,\', \'department\', \'store)\', \'was\', \'originally\', \'part\', \'of\', \'Samsung\', \'Group,\', \'separated\', \'in\', \'the\', \'1990s\', \'from\', \'the\', \'Samsung\', \'Group\', \'along\', \'with\', \'CJ\', \'Group\', \'(Food/Chemicals/Entertainment/logistics),\', \'Hansol\', \'Group\', \'(Paper/Telecom),\', \'and\', \'the\', \'JoongAng\', \'Group\', \'(Media).\', \'Today\', \'these\', \'separated\', \'groups\', \'are\', \'independent\', \'and\', \'they\', \'are\', \'not\', \'part\', \'of\', \'or\', \'connected\', \'to\', \'the\', \'Samsung\', \'Group.[22]\', \'One\', \'Hansol\', \'Group\', \'representative\', \'said\']'

In [54]:
s=56

In [55]:
s.isnumeric()

AttributeError: 'int' object has no attribute 'isnumeric'

In [56]:
s=" sudh"

In [57]:
reversed(s)

In [58]:
'd'.join(reversed(s))

'hdddudsd '

In [59]:
"

In [61]:
v.expandtabs()

'vikas   is      ver     good'

In [62]:
s="This is my first python programming class and i am learning python string and its function"

EXAMPLES TO SOLVE

1.data from index 1 to 300 jump 1
2. reverse string without using function
3. split string after cons=version to upp case
4. try to convert whole string to lower case
5. capitalize strinhg
6. diff b/w is alnum() and isalpha()
7. example of expand tabs
8. example of stip and l , r strips
9. replace string by another character
10. defination of string centre with example

In [65]:
a=s[1:300:1]

In [66]:
a

'his is my first python programming class and i am learning python string and its function'

In [69]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp gninrael ma i dna ssalc gnimmargorp nohtyp tsrif ym si sihT'

In [70]:
''.join(reversed(s))

'noitcnuf sti dna gnirts nohtyp gninrael ma i dna ssalc gnimmargorp nohtyp tsrif ym si sihT'

In [72]:
a=s.upper()

In [73]:
a

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [74]:
a.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [75]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [76]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

isalnum() - true if both alphabets and numerical values are present or any one of alphabets or numerical values are present
isalpha() - true only if alphabets are present

In [77]:
a="123bholkl"

In [78]:
a.isalnum()

True

In [79]:
a.isalpha()

False

In [80]:
a="ewrmbffdxcv"

In [81]:
a.isalpha()

True

In [82]:
a.isalnum()

True

In [83]:
s.expandtabs()

'This is my first python programming class and i am learning python string and its function'

In [84]:
a="hello\thow\tare\tuhjijoui\t"

In [85]:
a.expandtabs()

'hello   how     are     uhjijoui        '

In [86]:
a="        strip      "

In [87]:
a.strip()

'strip'

In [88]:
a.lstrip()

'strip      '

In [90]:
a.rstrip()

'        strip'

In [91]:
v="vijay vikas vineel vijay"

In [92]:
v.replace("vijay","kal")

'kal vikas vineel kal'

In [93]:
a="vikas"

In [95]:
a.center(25,"^")

'^^^^^^^^^^vikas^^^^^^^^^^'